* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    color:#555;
    font-weight: 300;
    font-style: normal;
}

.content-container {
    max-width: 120rem;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Herr Von Muellerhoff', cursive;
    color:#bc9255;
    letter-spacing: 0.3rem;
}

.section-subtitile {
    margin: 1rem 0;
    text-align: center;
    font-size: 4rem;
}

.section-desc {
    text-align: center;
    font-size: 2.5rem;
}

.section-head {
    margin-bottom: 4.5rem;
}

.page-container{
    max-width: 120rem;
    margin:auto;
}

ul {
    list-style: none;
}

p {
    line-height: 2rem;
}

a {
    text-decoration: none;
}

.btn {
    border: 0.1rem solid black;
    text-align: center;
}

.btn-light {
    display: inline-block;
    margin-top: 1.8rem;
    padding: 1rem 2rem;
    font-weight: 500;
    color:#1f1f1f;
    transition: all 0.2s;
}

.btn-light:hover {
    color:#bc9255
}

.section-head span{
    display: block;
    font-size: 3.2rem;
    color:#1f1f1f;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.white-txt {
    color:white !important
}

/* Header */ 

.logo {
    flex: 0 0 13rem;
    margin-right: 5rem;
}

header {
    grid-area: header;
    position: relative;
    top:2rem;
    display: flex;
    align-items: stretch;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(22, 22, 22, 0.8);
    flex: 1 1 auto;
}

header nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;   
}


header nav ul li {
    display: flex;
    justify-content: center;
    align-content: center;
}

header nav a {
    padding: 2.4rem 1.8rem;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2s;
}

header nav a:hover{
    color: #bc9255;
}

header nav .active{
    color: #bc9255
}

nav ul a {
    color: white;
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/* landing section */

.landing-section {
    background: url(../img/facial-hair-cut.jpg) center center/cover;
    height: 100vh;
    display: grid;
    grid:
    ". header header header header" 8rem
    ". landing-content landing-content landing-content ." auto
    ". . contact-box . ." 15rem
    / 0.8fr 1fr 30rem 1fr 0.8fr;
}

.landing-content {
    grid-area: landing-content;
    text-align: center;
    align-self: center;
}

.landing-content h4 {
    margin-bottom: 0.5rem;
    font-size: 5rem;
}

.landing-content h2 {
    font-size: 5rem;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5rem;
}

.btn-big {
    color: white;
    padding:1.2rem 3.2rem;
    border:0.2rem solid white;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.small-contact-box {
    grid-area: contact-box;
    align-self: center;
    text-align: center;
    color: white
}

.small-contact-box h6 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;

}

.small-contact-box span {
    font-weight: 700;
    font-size: 3rem;
}

/* Section services */

.barber-services {
    background: #efefef;
    padding: 1.5rem;
    padding-bottom: 6rem;
}

.services {
    display: flex;
    flex-flow: row nowrap;
}

.service {
    margin: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    padding:5rem 3rem 4rem 3rem;
    border:0.2rem solid #bc9255;
    display: grid;
    grid: 
    "img" 9rem
    "service-content" auto /
    1fr;
    justify-content: start;
}

.service-img {
    grid-area: img;
    /* border:0.2rem dashed #bc9255; */
    width: 6.8rem;
    height: 6.8rem;
    grid-column: 1 / 2;
}

.service-content {
    grid-area: service-content;
}

.service-content p {
    max-height: 6rem;
    overflow: hidden;
}

.service:nth-child(1) .service-img{
    background: url("../img/scissors-comb.png") center center/cover;
}

.service:nth-child(2) .service-img{
    background: url("../img/barber-chair.png") center center/cover;
}

.service:nth-child(3) .service-img{
    background: url("../img/beauty-salon.png") center center/cover;
}

.service h4 {
    color: #1f1f1f;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

/* Prices */

.prices {
    padding: 4rem;
    color:white;
    background: #1f1f1f;
}

.price-box {
    display: flex;
    flex-flow: column nowrap;
    border: 0.2rem solid #bc9255;
    border-radius: 1rem;
    padding: 5rem 3rem 4rem 3rem;
    max-width: 40rem;
    margin:auto;
}

.price-box-img {
    background: url(../img/mustache-with-beard.png) center center/cover;
    width: 9.5rem;
    height: 9.5rem;
    margin-bottom:0 auto auto 3rem;
    align-self: center;
}

.price-col {
    padding: 1.5rem 0;
    display: grid;
    grid: 
    "service-name dots price" 1fr
    "details details details" 1fr
    / auto auto auto
}

.price-col .price-dots {
    grid-area: dots;
}

.price-col h3 {
    grid-area: price;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    letter-spacing: normal;
    text-align: end;
}

.price-col h4 {
    grid-area: service-name;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    font-weight: 600;
    letter-spacing: normal;
    color: white;

}

.pricing-col p {
    grid-area: details;
}