@use 'variables';
@use 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--base-font-size);
    scroll-behavior: smooth;
}

body {
    font-size: var(--type-content-p-size);
    font-family: var(--font-body);
    color:#555;
    font-weight: 300;
}

.content-container {
    max-width: 120rem;
    margin: auto;
    padding:  0 2rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-heading);
    color:var(--text-theme);
    letter-spacing: 0.3rem;
}

ul {
    list-style: none;
}

p {
    line-height: 2rem;
}

a {
    text-decoration: none;
}

%btn {
    border: 0.1rem solid var(--text-secondary);
    text-align: center;
}

.btn-light {
    @extend %btn;
    display: inline-block;
    margin-top: 1.8rem;
    padding: 1rem 2rem;
    font-weight: 500;
    color:var(--text-secondary);
    transition: all 0.2s;

    &:hover {
        color:var(--text-theme)
    }
}

.btn-big {
    @extend %btn;
    color: var(--text-invert);
    padding:1.2rem 3.2rem;
    border:0.2rem solid var(--text-invert);
    font-weight: 700;
    letter-spacing: 0.2rem;
}

/* Header */

header {
    grid-area: header;
    display: flex;
    align-items: center;

    .logo {
        margin-right: 5rem;
        width: 15rem;

        @include mixins.mobile {
            display: none;
        }
    }



    .nav-bar {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
    }

    nav {
        display: flex;
        background-color: var(--background-invert-pannel);
        flex: 1 1 auto;

        @include mixins.mobile {
            width: 100%;
            position: fixed;
            top:0;
        }

        ul{
            display: flex;

            @include mixins.mobile {
                width: 100%;
            }

            li {
                display: flex;
                flex: 1 1 auto;
                justify-content: center;
                align-content: center;
                a {
                    padding: 2.4rem 1.8rem;
                    text-align: center;
                    vertical-align: middle;
                    color: var(--text-invert);
                    display: inline-block;
                    font-weight: 600;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                    transition: all 0.3s;
                    &:hover{
                        color: var(--text-theme);
                    }

                    @include mixins.mobile {
                        padding: 2.4rem 0;
                    }
                }

                @include mixins.mobile {
                    flex: 1 1 1fr;
                }
            }

            @include mixins.mobile {
                li:nth-child(3),
                li:nth-child(7),
                li:nth-child(2) {
                    display: none;
                }
            }
        }

        .active{
            color: var(--text-theme)
        }
    }

}